<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<table class="table table-hover">
    <thead class="table-dark">
    <th>Isbn</th>
    <th>Title</th>
    <th>Author</th>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.getValue().getIsbn()}"></td>
        <td th:text="${book.getValue().getTitle()}"></td>
        <td th:text="${book.getValue().getAuthor()}"></td>
    </tr>
    </tbody>
</table>

<div class="form-row text-center">
    <div class="col-12">
<a class="btn btn-outline-dark btn-lg" role="button" aria-disabled="true" href="/add-book">Add a book</a>
</div>
</div>


</body>
</html>